.Rproj.user
.Rhistory
.Rapp.history
.RData
*-Ex.R
/*.Rcheck/
.Rproj.user/
.httr-oauth
/*_cache/
/cache/
*.utf8.md
*.knit.md
/.project
inst/doc
working-*
revdep

/**/*.png
/**/*.xlsx
/**/*.csv.gz
/**/*.txt.gz
/**/*.tar.gz
/**/*.rds
/**/*.RDS
/**/*.Rds

vignettes/*.html
vignettes/*.R
vignettes/*.log

!vignettes/precompiled_vignettes.R
!inst/exampleObj.RDS
!inst/miniObj.RDS
